<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiang.mapper.UserMapper">

    <sql id="userColums">
    id,username,userAccount,
    userPassword,avatarUrl,gender,phone,email,
    userStatus,isDelete,userRole,planetCode,tags,profile</sql>

    <sql id="userDTOColums">
        id,username,userAccount,avatarUrl,gender,phone,email,userStatus,userRole,planetCode,tags,profile,createTime</sql>

    <!--Integer addOne(User user);-->
    <insert id="addOne" parameterType="user">
         insert  into user (<include refid="userColums"/>)
        values (null,#{username},#{userAccount},#{userPassword},
                #{avatarUrl},#{gender},#{phone},#{email},#{userStatus},
                #{isDelete},#{userRole},#{planetCode}, #{tags},#{profile})
    </insert>

    <!--Integer addOnRegist(@Param("userAccount") String userAccount, @Param("userPassword") String userPassword);-->
    <insert id="addOnRegist">
        insert into user (id,userAccount,userPassword) values (null,#{userAccount},#{userPassword});
    </insert>


    <!--Integer updateOneUser(UserDTO data);-->
    <update id="updateOneUser" parameterType="userDTO">
        update user
        <set>
            <if test="data.username!=null">username = #{data.username},</if>
            <if test="data.avatarUrl!=null">avatarUrl = #{data.avatarUrl},</if>
            <if test="data.gender!=null">gender = #{data.gender},</if>
            <if test="data.phone!=null">phone = #{data.phone},</if>
            <if test="data.email!=null">email = #{data.email},</if>
            <if test="data.tags!=null">tags = #{data.tags},</if>
        </set>
        where id = #{data.id} and isDelete = 0;
    </update>

    <!--Integer deleteOne(@Param("id") Integer id);-->
    <delete id="deleteOne">
        update user set isDelete = 1  where id = #{id} and isDelete = 0;
    </delete>


    <!--User getOne(Integer id);-->
    <select id="getOne" resultType="userDTO">
        select <include refid="userDTOColums"/> from user where id = #{id} and isDelete = 0;
    </select>

    <!--Integer findOnRegist(@Param("userAccount") String userAccount);-->
    <select id="findOnRegist" resultType="java.lang.Integer">
        select count(*) from user where userAccount = #{userAccount} and isDelete = 0;
    </select>

    <!--Long getIdByUserAccount(@Param("userAccount") String userAccount);-->
    <select id="getIdByUserAccount" resultType="java.lang.Long">
        select id from user where userAccount = #{userAccount} and isDelete = 0;
    </select>

    <!--User getUserByAccount(@Param("userAccount") String userAccount);-->
    <select id="getUserByAccount" resultType="com.qiang.domain.entity.User">
        select <include refid="userColums"/> from user where userAccount = #{userAccount} and isDelete = 0;
    </select>

    <!--List<UserDTO> getUserByTagNameList(List<String> tagNameList);-->
    <select id="getUserByTagNameList" resultType="com.qiang.domain.DTO.UserDTO">
        select <include refid="userDTOColums"/>
            from user
            where isDelete = 0
        <if test="tagNameList !=null and tagNameList.size()>0">
            and
            <foreach collection="tagNameList" item="tagName" separator="and">
                tags like concat('%',#{tagName},'%')
            </foreach>
        </if>
    </select>

    <!--List<UserDTO> getAllUsers();-->
    <select id="getAllUsers" resultType="com.qiang.domain.DTO.UserDTO">
        select <include refid="userDTOColums"/> from user where isDelete = 0;
    </select>

    <!--List<UserDTO> getUserByAnyTagName();-->
    <select id="getUserByAnyTagName" resultType="com.qiang.domain.DTO.UserDTO">
        select <include refid="userDTOColums"/> from user where isDelete = 0
        <if test="tagNameList !=null and tagNameList.size()>0">
            and
            <foreach collection="tagNameList" item="tagName" separator="or">
                tags like concat('%',#{tagName},'%')
            </foreach>
        </if>
    </select>

    <!--List<UserDTO> getuserByAllTagname_josn(List<String> tagNameList);-->
    <select id="getuserByAllTagname_josn" resultType="com.qiang.domain.DTO.UserDTO">
        select <include refid="userDTOColums"/> from user
        where isDelete = 0
        <if test="tagNameList !=null and tagNameList.size()>0">
            and
            <foreach collection="tagNameList" item="tagName" separator="and">
                JSON_CONTAINS(tags,concat('"',#{tagName},'"'))
            </foreach>
        </if>
    </select>

    <!--void batchInsert(List<User> users);-->
    <insert id="batchInsert">
        insert into user (<include refid="userColums"/>) values
            <foreach collection="users" item="user" separator=",">
                (null,#{user.username},#{user.userAccount},#{user.userPassword},
                #{user.avatarUrl},#{user.gender},#{user.phone},#{user.email},#{user.userStatus},
                #{user.isDelete},#{user.userRole},#{user.planetCode}, #{user.tags},#{user.profile})
            </foreach>
    </insert>

    <!--Integer getAllUsersCount();-->
    <select id="getAllUsersCount" resultType="java.lang.Integer">
            select count(1) from user where isDelete = 0;
    </select>

    <!--List<UserDTO> getUsersByPage(Integer start, Integer count);-->
    <select id="getUsersByPage" resultType="com.qiang.domain.DTO.UserDTO">
        select <include refid="userDTOColums"/> from user where isDelete = 0 limit #{start},#{count}
    </select>

    <!--String getTagNameByUserId(Long userId);-->
    <select id="getTagNameByUserId" resultType="java.lang.String">
        select tags from user where isDelete = 0 and id = #{id}
    </select>

    <!--List<UserDTO> getuserByAnyTagnamePage(List<String> tagNameList, Integer offset, Integer size);-->
    <select id="getuserByAnyTagnamePage" resultType="com.qiang.domain.DTO.UserDTO">
        select <include refid="userDTOColums"/> from user
        where isDelete = 0
        <if test="tagNameList !=null and tagNameList.size()>0">
            and
            <foreach collection="tagNameList" item="tagName" separator="or">
                JSON_CONTAINS(tags,concat('"',#{tagName},'"'))
            </foreach>
        </if>
        limit #{offset},#{size}
    </select>

    <!--List<UserDTO> getuserByAnyTagnamePageWithCount(List<String> tagNameList, Integer count);-->
    <select id="getuserByAnyTagnamePageWithCount" resultType="com.qiang.domain.DTO.UserDTO">
        select <include refid="userDTOColums"/> from user
        where isDelete = 0
        <if test="tagNameList !=null and tagNameList.size()>0">
            and
            <foreach collection="tagNameList" item="tagName" separator="or">
                JSON_CONTAINS(tags,concat('"',#{tagName},'"'))
            </foreach>
        </if>
        limit 0,#{count}
    </select>
</mapper>
